/*color schema based in the awesome vostok palete*/
body{
  font-family: Helvetica Neue;
	background-color: #2B2F34;
	color: white;
}
h1{
	color: #00B5E8;
}
h2{
	color: white;
}
h3{
	color: #FF9900;
}
a{
	color: white;
}
blockquote{
	padding: 16px;
	background-color: #1F2226;	
	width: auto;
}

pre {
  font-family: Helvetica Neue;
}

.code .hll {
background-color:#404040;
}
.code {
font-family: Helvetica;
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
/*background:#202020 none repeat scroll 0 0;*/
color:#D0D0D0;
}
.code .c {
color:#999999;
font-style:italic;
}
.code .err {
background-color:#E3D2D2;
color:#A61717;
}
.code .g {
color:#D0D0D0;
}
.code .k {
color:#6AB825;
font-weight:bold;
}
.code .l {
color:#D0D0D0;
}
.code .n {
color:#D0D0D0;
}
.code .o {
color:#D0D0D0;
}
.code .x {
color:#D0D0D0;
}
.code .p {
color:#D0D0D0;
}
.code .cm {
color:#999999;
font-style:italic;
}
.code .cp {
color:#CD2828;
font-weight:bold;
}
.code .c1 {
color:#999999;
font-style:italic;
}
.code .cs {
background-color:#520000;
color:#E50808;
font-weight:bold;
}
.code .gd {
color:#D22323;
}
.code .ge {
color:#D0D0D0;
font-style:italic;
}
.code .gr {
color:#D22323;
}
.code .gh {
color:#FFFFFF;
font-weight:bold;
}
.code .gi {
color:#589819;
}
.code .go {
color:#CCCCCC;
}
.code .gp {
color:#AAAAAA;
}
.code .gs {
color:#D0D0D0;
font-weight:bold;
}
.code .gu {
color:#FFFFFF;
text-decoration:underline;
}
.code .gt {
color:#D22323;
}
.code .kc {
color:#6AB825;
font-weight:bold;
}
.code .kd {
color:#6AB825;
font-weight:bold;
}
.code .kn {
color:#6AB825;
font-weight:bold;
}
.code .kp {
color:#6AB825;
}
.code .kr {
color:#6AB825;
font-weight:bold;
}
.code .kt {
color:#6AB825;
font-weight:bold;
}
.code .ld {
color:#D0D0D0;
}
.code .m {
color:#3677A9;
}
.code .s {
color:#ED9D13;
}
.code .na {
color:#BBBBBB;
}
.code .nb {
color:#24909D;
}
.code .nc {
color:#447FCF;
text-decoration:underline;
}
.code .no {
color:#40FFFF;
}
.code .nd {
color:#FFA500;
}
.code .ni {
color:#D0D0D0;
}
.code .ne {
color:#BBBBBB;
}
.code .nf {
color:#447FCF;
}
.code .nl {
color:#D0D0D0;
}
.code .nn {
color:#447FCF;
text-decoration:underline;
}
.code .nx {
color:#D0D0D0;
}
.code .py {
color:#D0D0D0;
}
.code .nt {
color:#6AB825;
font-weight:bold;
}
.code .nv {
color:#40FFFF;
}
.code .ow {
color:#6AB825;
font-weight:bold;
}
.code .w {
color:#666666;
}
.code .mf {
color:#3677A9;
}
.code .mh {
color:#3677A9;
}
.code .mi {
color:#3677A9;
}
.code .mo {
color:#3677A9;
}
.code .sb {
color:#ED9D13;
}
.code .sc {
color:#ED9D13;
}
.code .sd {
color:#ED9D13;
}
.code .s2 {
color:#ED9D13;
}
.code .se {
color:#ED9D13;
}
.code .sh {
color:#ED9D13;
}
.code .si {
color:#ED9D13;
}
.code .sx {
color:#FFA500;
}
.code .sr {
color:#ED9D13;
}
.code .s1 {
color:#ED9D13;
}
.code .ss {
color:#ED9D13;
}
.code .bp {
color:#24909D;
}
.code .vc {
color:#40FFFF;
}
.code .vg {
color:#40FFFF;
}
.code .vi {
color:#40FFFF;
}
.code .il {
color:#3677A9;
}
